## PyCitySchools

In [58]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head(10)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [59]:
# Calculate the total number of schools
school_count = len(school_data_complete_df["School ID"].unique())
school_count

15

In [60]:
# Calculate the total number of students
student_count = len(school_data_complete_df["Student ID"].unique())
student_count

39170

In [61]:
# Calculate the total budget
total_budget = sum(school_data_complete_df["budget"].unique())
total_budget

24649428

In [62]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [63]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [64]:
# Calculate the percentage of students with a passing math score [70+]
passing_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, ["math_score"]]
percent_passing_math = len(passing_math) / student_count
percent_passing_math

0.749808526933878

In [65]:
# Calculate the percentage of students with a passing reading score [70+]
passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
percent_passing_reading = len(passing_reading) / student_count
percent_passing_reading

0.8580546336482001

In [66]:
# Calculate the percentage of students with both a passing reading score and passing math score
passing_both = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70) &
                                           (school_data_complete_df["math_score"] >=70)]
percent_passing_both = len(passing_both) / student_count
percent_passing_both

0.6517232575950983

In [67]:
# summary dataframe created
all_school_stats_df = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Passing Math and Reading": [percent_passing_both]
})
all_school_stats_df

,Total Schools,Total Students,Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary
* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [73]:
# School name
school_name= school_data_df["school_name"]
school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [75]:
# school type
school_type = school_data_df.set_index(["school_name"])["type"]
school_type.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [77]:
# total students
students_per_school = school_data_complete_df["school_name"].value_counts()
students_per_school.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [79]:
# Total School Budget
school_budget = school_data_complete_df.groupby(["school_name"])["budget"].mean()
school_budget.head()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64

In [81]:
# Per Student Budget
per_student_budget = school_budget/students_per_school
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [83]:
# Average Math Score per school
avg_math_perschool = school_data_complete_df.groupby(["school_name"])["math_score"].mean()
avg_math_perschool.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [85]:
# Average Reading Score per school
avg_reading_perschool = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()
avg_reading_perschool.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [96]:
# Percentage Passing Math per school
pass_math_score = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
pass_math_score

# assign the math score by each school
grouped_math_score = pass_math_score["school_name"].value_counts()

percent_math = grouped_math_score/students_per_school*100
percent_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [95]:
# Percentage Passing Reading per school
read_score = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]

# assign the reading score by each school
grouped_read_score = read_score["school_name"].value_counts()

percent_reading = grouped_read_score / students_per_school * 100
percent_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [98]:
# Calculate the percentage of students with both a passing reading score and passing math score
passing_both_by_school = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70) &
                                           (school_data_complete_df["math_score"] >=70)]
grouped_overall_passing = passing_both_by_school["school_name"].value_counts()

percent_overall_passing_by_school = grouped_overall_passing / students_per_school * 100
percent_overall_passing_by_school

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: school_name, dtype: float64

In [100]:
# Create a new DataFrame for the summary statistics by school
summary_school_df = pd.DataFrame ({"School Type": school_type,
                                  "Total Students": students_per_school,
                                  "Total School Budget": school_budget,
                                  "Per Student Budget": per_student_budget,
                                  "Average Math Score": avg_math_perschool,
                                  "Average Reding Score": avg_reading_perschool,
                                  "% Passing Math": percent_math,
                                  "% Passing Reading": percent_reading,
                                  "% Passing Overall": percent_overall_passing_by_school})

summary_school_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reding Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [ ]:
# Total Schools	Total Students	Total Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
# 0	15	39,170	$24,649,428.00	78.985371	81.87784	74.980853	85.805463	65.172326
# School Summary
# Create an overview table that summarizes key metrics about each school, including:

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

# â€‹
# School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
# Bailey High School	District	4976	$3,124,928.00	$628.00	77.048432	81.033963	66.680064	81.933280	54.642283
# Cabrera High School	Charter	1858	$1,081,356.00	$582.00	83.061895	83.975780	94.133477	97.039828	91.334769
# Figueroa High School	District	2949	$1,884,411.00	$639.00	76.711767	81.158020	65.988471	80.739234	53.204476
# Ford High School	District	2739	$1,763,916.00	$644.00	77.102592	80.746258	68.309602	79.299014	54.289887
# Griffin High School	Charter	1468	$917,500.00	$625.00	83.351499	83.816757	93.392371	97.138965	90.599455
# Hernandez High School	District	4635	$3,022,020.00	$652.00	77.289752	80.934412	66.752967	80.862999	53.527508
# Holden High School	Charter	427	$248,087.00	$581.00	83.803279	83.814988	92.505855	96.252927	89.227166
# Huang High School	District	2917	$1,910,635.00	$655.00	76.629414	81.182722	65.683922	81.316421	53.513884
# Johnson High School	District	4761	$3,094,650.00	$650.00	77.072464	80.966394	66.057551	81.222432	53.539172
# Pena High School	Charter	962	$585,858.00	$609.00	83.839917	84.044699	94.594595	95.945946	90.540541
# Rodriguez High School	District	3999	$2,547,363.00	$637.00	76.842711	80.744686	66.366592	80.220055	52.988247
# Shelton High School	Charter	1761	$1,056,600.00	$600.00	83.359455	83.725724	93.867121	95.854628	89.892107
# Thomas High School	Charter	1635	$1,043,130.00	$638.00	83.418349	83.848930	93.272171	97.308869	90.948012
# Wilson High School	Charter	2283	$1,319,574.00	$578.00	83.274201	83.989488	93.867718	96.539641	90.582567
# Wright High School	Charter	1800	$1,049,400.00	$583.00	83.682222	83.955000	93.333333	96.611111	90.333333
# Top Performing Schools (By % Overall Passing)
# Sort and display the top five performing schools by % overall passing.
# â€‹
# School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
# Cabrera High School	Charter	1858	$1,081,356.00	$582.00	83.061895	83.975780	94.133477	97.039828	91.334769
# Thomas High School	Charter	1635	$1,043,130.00	$638.00	83.418349	83.848930	93.272171	97.308869	90.948012
# Griffin High School	Charter	1468	$917,500.00	$625.00	83.351499	83.816757	93.392371	97.138965	90.599455
# Wilson High School	Charter	2283	$1,319,574.00	$578.00	83.274201	83.989488	93.867718	96.539641	90.582567
# Pena High School	Charter	962	$585,858.00	$609.00	83.839917	84.044699	94.594595	95.945946	90.540541
# Bottom Performing Schools (By % Overall Passing)
# Sort and display the five worst-performing schools by % overall passing.
# â€‹
# School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
# Rodriguez High School	District	3999	$2,547,363.00	$637.00	76.842711	80.744686	66.366592	80.220055	52.988247
# Figueroa High School	District	2949	$1,884,411.00	$639.00	76.711767	81.158020	65.988471	80.739234	53.204476
# Huang High School	District	2917	$1,910,635.00	$655.00	76.629414	81.182722	65.683922	81.316421	53.513884
# Hernandez High School	District	4635	$3,022,020.00	$652.00	77.289752	80.934412	66.752967	80.862999	53.527508
# Johnson High School	District	4761	$3,094,650.00	$650.00	77.072464	80.966394	66.057551	81.222432	53.539172
# Math Scores by Grade
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

# â€‹
# 9th	10th	11th	12th
# Bailey High School	77.083676	76.996772	77.515588	76.492218
# Cabrera High School	83.094697	83.154506	82.765560	83.277487
# Figueroa High School	76.403037	76.539974	76.884344	77.151369
# Ford High School	77.361345	77.672316	76.918058	76.179963
# Griffin High School	82.044010	84.229064	83.842105	83.356164
# Hernandez High School	77.438495	77.337408	77.136029	77.186567
# Holden High School	83.787402	83.429825	85.000000	82.855422
# Huang High School	77.027251	75.908735	76.446602	77.225641
# Johnson High School	77.187857	76.691117	77.491653	76.863248
# Pena High School	83.625455	83.372000	84.328125	84.121547
# Rodriguez High School	76.859966	76.612500	76.395626	77.690748
# Shelton High School	83.420755	82.917411	83.383495	83.778976
# Thomas High School	83.590022	83.087886	83.498795	83.497041
# Wilson High School	83.085578	83.724422	83.195326	83.035794
# Wright High School	83.264706	84.010288	83.836782	83.644986
# Reading Score by Grade
# Perform the same operations as above for reading scores
# â€‹
# 9th	10th	11th	12th
# Bailey High School	81.303155	80.907183	80.945643	80.912451
# Cabrera High School	83.676136	84.253219	83.788382	84.287958
# Figueroa High School	81.198598	81.408912	80.640339	81.384863
# Ford High School	80.632653	81.262712	80.403642	80.662338
# Griffin High School	83.369193	83.706897	84.288089	84.013699
# Hernandez High School	80.866860	80.660147	81.396140	80.857143
# Holden High School	83.677165	83.324561	83.815534	84.698795
# Huang High School	81.290284	81.512386	81.417476	80.305983
# Johnson High School	81.260714	80.773431	80.616027	81.227564
# Pena High School	83.807273	83.612000	84.335938	84.591160
# Rodriguez High School	80.993127	80.629808	80.864811	80.376426
# Shelton High School	84.122642	83.441964	84.373786	82.781671
# Thomas High School	83.728850	84.254157	83.585542	83.831361
# Wilson High School	83.939778	84.021452	83.764608	84.317673
# Wright High School	83.833333	83.812757	84.156322	84.073171
# Scores by School Spending
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# â€‹
# Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
# Spending Ranges (Per Student)					
# <$584	83.46	83.93	93.46	96.61	90.37
# $585-629	81.90	83.16	87.13	92.72	81.42
# $630-644	78.52	81.62	73.48	84.39	62.86
# $645-675	77.00	81.03	66.16	81.13	53.53
# Scores by School Size
# Perform the same operations as above, based on school size.
# â€‹
# Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
# School Size					
# Small (<1000)	83.821598	83.929843	93.550225	96.099437	89.883853
# Medium (1000-2000)	83.374684	83.864438	93.599695	96.790680	90.621535
# Large (2000-5000)	77.746417	81.344493	69.963361	82.766634	58.286003
# Scores by School Type
# Perform the same operations as above, based on school type
# â€‹
# Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
# School Type					
# Charter	83.473852	83.896421	93.620830	96.586489	90.432244
# District	76.956733	80.966636	66.548453	80.799062	53.672208
# â€‹